<h1>Listing spots</h1>

<table class="table">
  <tr>
    <th>Building</th>
    <th>Floor</th>
    <th>Number</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spots.each do |spot| %>
  <tr>
    <td><%= spot.building.name %></td>
    <td><%= spot.floor %></td>
    <td><%= spot.number %></td>
    <td><%=format_user(spot.owner) %></td>
    <td><%= link_to 'Show', spot, class: 'btn btn-primary btn-mini' %></td>
    <td><%= link_to 'Edit', edit_spot_path(spot), class: 'btn btn-info btn-mini' %></td>
    <td><%= link_to 'Destroy', spot, confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger btn-mini' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spot', new_spot_path, class: 'btn btn-primary' %>
