<p>
  <b>Building:</b>
  <%= Building.find(@spot.building_id).name %>
</p>

<p>
  <b>Floor:</b>
  <%= @spot.floor %>
</p>

<p>
  <b>Number:</b>
  <%= @spot.number %>
</p>

<p>
  <b>Owner:</b>
  <% _user = User.find(@spot.owner_id) %>
  <%= _user.first_name + ' ' + _user.last_name %>
</p>


<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
