<p>
  <b>Building:</b>
  <%= @spot.building.name %>
</p>

<p>
  <b>Floor:</b>
  <%= @spot.floor %>
</p>

<p>
  <b>Number:</b>
  <%= @spot.number %>
</p>

<p>
  <b>Owner:</b>
  <%= format_user(@spot.owner) %>
</p>


<% if @spot.owner_id == @user.id || @user.is_admin %>
<%= link_to 'Edit', edit_spot_path(@spot) %>
 |
<%= link_to 'Make Spot Available', :controller => :listings, :action => :new %>
<% end %>
