<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lister_id %><br />
	<%= f.select :lister_id, User.all.collect { |u| [ u.first_name + ' ' + u.last_name, u.id ] } %>
  </div>
  <div class="field">
    <%= f.label :building_id %><br />
    <%= f.select :building_id, Building.all.collect { |b| [ b.name, b.id ] } %>
  </div>
  <div class="field">
    <%= f.label :spot_id %><br />
	<%= f.select :spot_id, Spot.all.collect { |s| [ s.building.name + ' ' + s.number.to_s, s.id ] } %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :ask_price %><br />
    <%= f.text_field :ask_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
