<h1>Listing listings</h1>

<table class="table">
  <tr>
    <th>Lister</th>
	<th>Building</th>
    <th>Spot</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Ask price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @listings.each do |listing| %>
  <tr>
    <td><%= format_user(listing.lister) %></td>
    <td><%= listing.building.name %></td>
    <td><%= listing.spot.number %></td>
    <td><%= listing.start_date %></td>
    <td><%= listing.end_date %></td>
    <td><%= listing.ask_price %></td>
    <td><%= link_to 'Show', listing, class: 'btn btn-primary btn-mini' %></td>
    <td><%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-info btn-mini' %></td>
    <td><%= link_to 'Destroy', listing, confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger btn-mini' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Listing', new_listing_path, class: 'btn btn-primary' %>
