
<% if @listing.taken == true %>
<p>
  This spot is taken.
</p>
<% end %>

<p>
  <b>Lister:</b>
  <%= format_user(@listing.lister) %>
</p>

<p>
  <b>Building:</b>
  <%= @listing.building.name %>
</p>

<p>
  <b>Spot:</b>
  <%= @listing.spot.number %>
</p>

<p>
  <b>Start date:</b>
  <%= @listing.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @listing.end_date %>
</p>

<p>
  <b>Ask price:</b>
  <%= @listing.ask_price %>
</p>


<% if (@user.is_admin || @user.id == @listing.lister.id) %>
<%= link_to 'Edit', edit_listing_path(@listing) %>
<% elsif @listing.taken == false %>
<%= link_to 'Rent this spot', :controller => 'listings', :action => 'rent', :listing => @listing.id %>
<% end %>

