<h1>Welcome to Project Euclid</h1>
<%= link_to "Users", :controller => :users, :action => :index %> <br>
<%= link_to "Buildings", :controller => :buildings, :action => :index %> <br>
<%= link_to "Spots", :controller => :spots, :action => :index %> <br>
<%= link_to "Listings", :controller => :listings, :action => :index %> <br>
<%= link_to "Requests", :controller => :requests, :action => :index %> <br>
<%= link_to "Transactions", :controller => :transactions, :action => :index %> <br>
<%= link_to "Availability", :controller => :availabilities, :action => :index %> <br>
