<p>
  <b>First name:</b>
  <%= @shown_user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @shown_user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @shown_user.email %>
</p>

<% if @user.is_admin %>
<p>
  <b>Is Admin:</b>
  <%= @shown_user.is_admin %>
</p>
<% end %>
<%= link_to 'Edit', edit_user_path(@shown_user), class: 'btn btn-info' %>
