<p>
  <b>First name:</b>
  <%= @shown_user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @shown_user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @shown_user.email %>
</p>

<p>
  <b>Login:</b>
  <%= @shown_user.login %>
</p>

<%= link_to 'Edit', edit_user_path(@shown_user) %> |
<%= link_to 'Back', users_path %>
