<h1>User Dashboard</h1>
<div class="row">
<div class="span6">
<h2>My Listings</h2>
<% if @listings.length > 0 %>
<table class="table">
  <thead>
	<tr>
	  <th>Spot</th>
	  <th>Start Date</th>
	  <th>End Date</th>
	  <th></th>
	</tr>
  </thead>
  <tbody>
<% for listing in @listings %>
  <tr>
	  <td><%= "#{listing.building.name} #{listing.spot.number}" %></td>
	  <td><%= listing.start_date %></td>
	  <td><%= listing.end_date %></td>
	  <td><%= link_to 'Remove', listing, confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger btn-mini' %></td>
  </tr> 
<% end %>
  </tbody>
</table>
<% else %>
  No listings
<% end %>

</div>
<div class="span6">

<h2>Spots I am renting from others</h2>
<% if @transactions_buyer.length > 0 %>
<table class="table">
  <thead>
	<tr>
	  <th>Spot</th>
	  <th>Start Date</th>
	  <th>End Date</th>
	  <th>Price</th>
	  <th></th>
	</tr>
  </thead>
  <tbody>
<% for transaction in @transactions_buyer %>
  <tr>
	  <td><%= "#{transaction.spot.building.name} #{transaction.spot.number}" %></td>
	  <td><%= transaction.start_date %></td>
	  <td><%= transaction.end_date%></td>
	  <td><%= transaction.price%></td>
           <td><%= link_to 'Cancel', { controller: :transactions, action: :cancel, id: transaction.id }, { confirm: 'Are you sure?', method: :post, class: 'btn btn-danger btn-mini'} %></td>
	</tr>
<% end %>
  </tbody>
</table>
<% else %>
  You aren't renting any spots
<% end %>

</div>
</div>

<div class="row">
	<div class="span6">
<h2>My Requests</h2>
<% if @requests.length > 0 %>
<table class="table">
  <thead>
	<tr>
	  <th>Start Date</th>
	  <th>End Date</th>
	  <th>Bid Price</th>
	  <th></th>
	</tr>
  </thead>
  <tbody>
<% for request in @requests %>
  <tr>
	  <td><%= request.start_date %></td>
	  <td><%= request.end_date %></td>
	  <td><%= request.bid_price %></td>
	  <td><%= link_to 'Remove', request, confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger btn-mini' %></td>
  </tr> 
<% end %>
  </tbody>
</table>
<% else %>
  No requests
<% end %>

</div>
<div class="span6">


<h2>Spots others are renting from me</h2>
<% if @transactions_seller.length > 0 %>
<table class="table">
  <thead>
	<tr>
	  <th>Spot</th>
	  <th>Start Date</th>
	  <th>End Date</th>
	  <th>Price</th>
	  <th></th>
	</tr>
  </thead>
  <tbody>
<% for transaction in @transactions_seller %>
  <tr>
	  <td><%= "#{transaction.spot.building.name} #{transaction.spot.number}" %></td>
	  <td><%= transaction.start_date %></td>
	  <td><%= transaction.end_date%></td>
	  <td><%= transaction.price%></td>
      <td><%= link_to 'Cancel', { controller: :transactions, action: :cancel, id: transaction.id }, { confirm: 'Are you sure?', method: :post, class: 'btn btn-danger btn-mini'} %></td
  </tr>
<% end %>
</tbody>
</table>
<% else %>
  None of your spots are being rented
<% end %>

</div>
</div>
