<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @user.is_admin %>
  <div class="field">
    <%= f.label :requester_id %><br />
	<%= f.select :requester_id, User.all.collect { |u| [ u.first_name + ' ' + u.last_name, u.id ] } %>
  </div>
    <% else %>
  <%= f.hidden_field :requester_id, :value => @user.id %>
  <% end %>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :bid_price %><br />
    <%= f.text_field :bid_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
