<h1>View Requests</h1>
<%= form_tag("/requests/results", :method => "get") do %>


<%= label_tag(:building, "Building:") %> <%= select_tag(:building,
options_for_select( @buildings.map { |b| [b.name, b.id] })) %> <br/>
<!--
<%= label_tag(:start_date, "Start date:") %>
<%= date_select(:start_date, :date, :default => Date.today) %>
<br/>

<%= label_tag(:end_date, "End date:") %>
<%= date_select(:end_date, :date, :default => Date.today + 1) %>
<br/>
-->
<%= submit_tag("Search") %>
<% end %>
