<p>
  <b>Requester:</b>
  <%= format_user(@request.requester) %>
</p>

<p>
  <b>Start date:</b>
  <%= @request.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @request.end_date %>
</p>

<p>
  <b>Bid price:</b>
  <%= @request.bid_price %>
</p>

<% if @user && (@user.is_admin || @user.id == @request.requester.id) %>
  <%= link_to 'Edit', edit_request_path(@request), class: 'btn btn-info' %>
<% end %>

