<h1>Listing availabilities</h1>

<table>
  <tr>
    <th>Listing</th>
	<th>Building</th>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @availabilities.each do |availability| %>
  <tr>
	  <td><%= availability.listing_id %></td>
	  <td><%= availability.building.name %></td>
    <td><%= availability.start_date %></td>
    <td><%= availability.end_date %></td>
    <td><%= link_to 'Show', availability %></td>
    <td><%= link_to 'Edit', edit_availability_path(availability) %></td>
    <td><%= link_to 'Destroy', availability, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Availability', new_availability_path %>
