<h1>Find a Spot</h1>
<%= form_tag("/availabilities/results", :method => "get") do %>

<%= hidden_field_tag(:building, @building.id) %>
<%= label_tag(:start_date, "Start date:") %>
<%= date_select(:start_date, :date, :default => Date.today) %>
<br/>

<%= label_tag(:end_date, "End date:") %>
<%= date_select(:end_date, :date, :default => Date.today + 1) %>
<br/>

<%= submit_tag("Search") %>
<% end %>
