<!DOCTYPE html>
<html>
<head>
  <title>Euclid</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] %></div>
  <% end -%>

  <div id="header">
	<div class="left">
	  <%= link_to "Home", :controller => "home", :action => "Index" %>
	</div>
	<div class="right">
	Welcome, <%= get_name(@user) %>
	<%=
	   if session[:user_id] && session[:user_id] != :logged_out
	   link_to "Log out", :controller => "account", :action => :logout
	else
	link_to "Log in", :controller => "account", :action => :login
	end
	%>
	</div>
  </div>

  <%= yield %>
</body>
</html>
