<!DOCTYPE html>
<html>
<head>
  <title>Euclid</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] %></div>
  <% end -%>

  <div id="header">
	<div class="left">
	  <%= link_to "Home", :controller => "home", :action => "index" %>
	  <% if @user && @user.is_admin %>
	    | <%= link_to "Admin", :controller => "admin", :action => "index" %>
	  <% end %>
	  <% if @building != nil %>
	  | Your current building is <%=@building.name%>.
	  <% if @user == nil %>
	   <%= link_to "Change", :controller => "home", :action => "building" %>
	  <% else %>
	  <%= link_to "Change", :controller => "users", :action => "edit", :id => @user.id %>
	  <% end %>
	  <% end %>
	</div>
	<div class="right">
		Welcome, 
	<% if session[:user_id] && session[:user_id] != :logged_out && @user%>
	<%= link_to get_name(@user), :controller => 'users', :action => 'show', :id => @user.id %>
	<%= link_to "Log out", :controller => "account", :action => :logout %>
	<% else %>
	<%= get_name(@user) %>
	<%= link_to "Log in", :controller => "account", :action => :login %>
	<% end %>
	</div>
  </div>

  <%= yield %>
</body>
</html>
