<p>
  Here are the transaction details:
</p>

<p>
  <b>Spot:</b>
  <%= format_spot(@transaction.spot) %>
</p>

<p>
  <b>Buyer:</b>
  <%= format_user(@transaction.buyer) %>
</p>

<p>
  <b>Seller:</b>
  <%= format_user(@transaction.seller) %>
</p>

<p>
  <b>Start date:</b>
  <%= @transaction.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @transaction.end_date %>
</p>

<p>
  <b>Price:</b>
  <%= @transaction.price %>
</p>
